{
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": false,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
