@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';
@plugin '@tailwindcss/aspect-ratio';

@theme {
  --color-background: #18181b;
  --color-background-soft: #232336;
  --color-background-card: #232336;
  --color-background-accent: #2d2d44;

  --color-primary: #8b5cf6;
  --color-primary-dark: #6d28d9;

  --color-secondary: #0ea5e9;
  --color-secondary-dark: #0369a1;

  --color-muted: #a1a1aa;
  --color-foreground: #f4f4f5;
  --color-border: #27272a;
}
